<div class="container">

  <div class="card">
    <div class="card-header">
      Listado
    </div>
    <div class="card-block">

        <!--Menu acciones-->
          <div class="row">
            <div class="col-md-12">
              <button type="button" 
                      class="btn btn-outline-primary btn-sm cur"
                      (click)="getAll()">
                      <i class="fa fa-refresh"></i>  Filtrar
              </button>
              <button type="button" 
                      class="btn btn-outline-success btn-sm cur"
                      [routerLink]="['/mantenimiento/contacto/crear']">
                      <i class="fa fa-plus"></i>  Nuevo
              </button>
            </div>
          </div>
        <!--Fin Menu acciones-->

        <hr>

        <!--Filtros-->
          <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12">
                      <label class="control-label">Nombre</label>
                      <input  type="text" 
                              class="form-control" 
                              placeholder="Buscar por nombre" 
                              [(ngModel)]="filter.Buscar" 
                              (ngModelChange)="filterChange($event)">
                    </div>
                  </div>
                </div>

            </div>
          </div>
          <!--Fin Filtros-->

          <hr>

          <!--Tabla-->
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered table-hover table-sm">
                <thead class="thead-inverse">
                  <tr>
                    <th class="cur">Id Contacto</th>
                    <th class="cur">Nombre</th>
                    <th class="cur">Correo</th>
                    <th class="cur">Telefono</th>
                    <th  class="cur" style="width: 120px;">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of lista">
                    <td>{{item.IdContacto}}</td>
                    <td>{{item.Nombre}}</td>
                    <td>{{item.Correo}}</td>
                    <td>{{item.Telefono}}</td>
                    <td class="text-right">
                            <a  class="btn btn-info btn-sm cur" 
                                [routerLink]="['/mantenimiento/contacto/ver', item.IdContacto]">
                                <span class="fa fa-search"></span> 
                            </a>
                            <a  class="btn btn-primary btn-sm cur" 
                                [routerLink]="['/mantenimiento/contacto/editar', item.IdContacto]">
                                <span class="fa fa-pencil"></span> 
                            </a>
                            <a  class="btn btn-danger btn-sm cur" 
                                (click)="remove(item.IdContacto)">
                                <span class="fa fa-trash"></span> 
                            </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--Fin Tabla-->
    </div>
  </div>



</div>

