<div class="container">

  <div class="card">
    <div class="card-header">
      Editor
    </div>
    <div class="card-block">

        <!--Menu acciones-->
          <div class="row">
            <div class="col-md-12">
              <button type="button" 
                      class="btn btn-outline-primary btn-sm cur"
                      (click)="update()"
                      [disabled]="form.invalid">
                      <i class="fa fa-floppy-o" aria-hidden="true"></i>  Guardar
              </button>
              <button type="button" 
                      class="btn btn-outline-danger btn-sm cur"
                      [routerLink]="['/mantenimiento/contactos']">
                      <i class="fa fa-times" aria-hidden="true"></i>  Cancelar
              </button>
            </div>
          </div>
        <!--Fin Menu acciones-->

        <hr>

        <!--Controles-->

          <div class="row">
            <div class="col-md-12">
              
              <form class="form-horizontal" [formGroup]="form" novalidate>

                    <div class="form-group">
                      <label class="col-md-2 control-label">Nombre:</label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Ingrese nombre" formControlName="Nombre"/>
                        <!--<error-viewer [form]="form" [property]="'Documento'" [config]="{ name: 'Documento' }"></error-viewer>-->
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Correo :</label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Ingrese correo" formControlName="Correo"/>
                        <!--<error-viewer [form]="form" [property]="'Nombre'" [config]="{ name: 'Nombre' }"></error-viewer>-->
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Telefono :</label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control" placeholder="Ingrese telefono" formControlName="Telefono"/>
                        <!--<error-viewer [form]="form" [property]="'NombreComercial'" [config]="{ name: 'Nombre Comercial' }"></error-viewer>-->
                      </div>
                    </div>
                    
              </form>
            </div>
          </div>

        <!--Controles-->

        <pre>
          {{form.valid}}
          {{form.value | json}}
				</pre>

    </div>
  </div>

</div>


